/* Global CSS */

/* Helpers */

img.img-responsive,
.img-responsive {
  max-width: 100%;
  display: inline-block;
}

.img-center {
  margin: 0 auto;
  text-align: center;
}

.hidden {
  display: none;
}

/* Mobile only */

@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}

@media (min-width: 767px) {
  .visible-xs {
    display: none;
  }
}